/* line 4, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* line 11, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/style.scss */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 16, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/style.scss */
.btn {
  width: 135px;
  height: 45px;
  background: #FFA501;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

/* line 24, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/style.scss */
.divider {
  height: 3px;
  width: 60px;
  background-color: #FFA501;
  border: none;
}

/* line 31, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/style.scss */
.subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

/* line 37, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/style.scss */
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

/* line 1, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_promo.scss */
.promo {
  padding-top: 206px;
  min-height: 100vh;
  background: url("../img/main_bg.jpg") center center/cover no-repeat;
}

/* line 5, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_promo.scss */
.promo-name {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  z-index: 2;
}

/* line 2, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_mixins.scss */
.promo-name:before {
  content: '';
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  position: absolute;
  top: -40%;
  left: -3px;
  border-radius: 100%;
  z-index: -1;
}

/* line 13, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_promo.scss */
.promo-title {
  width: 532px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  margin-top: 9px;
}

/* line 22, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_promo.scss */
.promo .btn {
  margin-top: 25px;
  font-weight: 700;
}

/* line 27, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_promo.scss */
.promo a {
  margin-left: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
  text-decoration: none;
}

/* line 36, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_promo.scss */
.promo .hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}

/* line 46, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_promo.scss */
.promo .hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #151812;
}

/* line 53, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_promo.scss */
.promo .hamburger span.long {
  width: 36px;
}

/* line 1, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_sidepanel.scss */
.sidepanel {
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 230px;
  z-index: 3;
  align-items: center;
  padding-left: 15px;
}

/* line 11, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_sidepanel.scss */
.sidepanel__text {
  height: 150px;
  width: 25px;
}

/* line 14, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_sidepanel.scss */
.sidepanel__text span {
  display: block;
  transform: rotate(-90deg) translate(-50%, -325%);
  width: 150px;
}

/* line 20, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_sidepanel.scss */
.sidepanel__divider {
  height: 70px;
  width: 2px;
  background-color: black;
}

/* line 1, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
}

/* line 11, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu.active {
  visibility: visible;
  opacity: 1;
  left: 0;
}

/* line 17, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu-block {
  position: relative;
  width: 345px;
  height: 100%;
  background-color: #FFA501;
  padding-top: 140px;
  padding-left: 40px;
  z-index: 10;
}

/* line 28, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

/* line 34, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu__list {
  list-style-type: none;
  padding-left: 35px;
}

/* line 38, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu__link {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 15px;
}

/* line 44, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu__link:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  left: -35px;
  top: 10px;
  border: 1px solid black;
  border-radius: 100%;
  transition: 0.5s all;
}

/* line 56, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu__link:hover:before {
  background-color: white;
  border: none;
}

/* line 61, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu__link a {
  text-decoration: none;
  color: #fff;
}

/* line 68, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu-social {
  width: 90px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 78, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_menu.scss */
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.7;
}

/* line 1, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me {
  height: 720px;
  padding-top: 120px;
  background-color: #fff;
}

/* line 5, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 245px 355px;
  grid-template-areas: "photo title" "photo skills";
}

/* line 13, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-photo {
  grid-area: photo;
}

/* line 17, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-title {
  grid-area: title;
  padding-left: 70px;
  padding-top: 10px;
}

/* line 21, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-title-about {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

/* line 27, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-title-name {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

/* line 32, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-title-descr {
  font-size: 14px;
  margin-top: 20px;
}

/* line 37, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-skills {
  grid-area: skills;
  padding-left: 70px;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 200px 200px;
  gap: 20px;
}

/* line 45, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-skills-item {
  display: grid;
  grid-template-columns: 50px 250px;
  grid-template-rows: 30px 100px;
  grid-template-areas: "logo title" "logo descr";
  position: relative;
  z-index: 10;
}

/* line 54, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-skills-item-logo {
  grid-area: logo;
}

/* line 57, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-skills-item-logo img {
  margin-top: 12px;
  margin-left: 7px;
  z-index: 10;
}

/* line 62, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-skills-item-logo:before {
  content: '';
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  position: absolute;
  top: -2%;
  left: -10px;
  border-radius: 100%;
  z-index: -1;
}

/* line 75, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-skills-item-title {
  grid-area: title;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

/* line 81, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_about_me.scss */
.about_me-wrapper-skills-item-descr {
  grid-area: descr;
}

/* line 1, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience {
  height: 560px;
  padding-top: 120px;
}

/* line 4, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-edu-wrapper {
  width: 1140px;
  margin-top: 60px;
}

/* line 7, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-edu-wrapper-edu {
  display: inline-block;
  width: 50%;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

/* line 14, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-edu-wrapper-opyt {
  display: inline;
  width: 50%;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

/* line 25, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px;
}

/* line 30, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-wrapper-item {
  display: grid;
  grid-template-columns: 50px 335px;
  grid-template-rows: 35px 100px;
  grid-template-areas: "logo title" "t t";
  margin-top: 35px;
}

/* line 39, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-wrapper-item-logo {
  grid-area: logo;
  position: relative;
}

/* line 42, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-wrapper-item-logo img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 48, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-wrapper-item-title {
  margin-left: 19px;
  grid-area: title;
}

/* line 51, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-wrapper-item-title-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

/* line 56, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-wrapper-item-title-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

/* line 62, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience-wrapper-item-text {
  grid-area: t;
  margin-top: 15px;
}

/* line 69, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience .opyt {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/* line 75, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
}

/* line 81, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_experience.scss */
.experience .divider {
  margin: 0 auto;
  margin-top: 25px;
}

/* line 1, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume {
  padding-top: 120px;
}

/* line 4, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume .title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

/* line 2, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_mixins.scss */
.resume .title:before {
  content: '';
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  position: absolute;
  top: -40%;
  left: -3px;
  border-radius: 100%;
  z-index: -1;
}

/* line 11, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume .title:before {
  left: 552px;
  top: -7px;
}

/* line 16, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume .title-fs36 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

/* line 22, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume .divider {
  margin: 0 auto;
  margin-top: 25px;
}

/* line 26, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__wrapper {
  padding: 60px 65px 0 65px;
  display: grid;
  grid-template-columns: 425px 425px;
  column-gap: 135px;
}

/* line 33, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__wrapper h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  padding-left: 35px;
}

/* line 39, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__wrapper h3:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #FFA501;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 51, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__wrapper ul {
  list-style-type: none;
}

/* line 53, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__wrapper ul li {
  position: relative;
}

/* line 55, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__wrapper ul li:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  top: -8px;
  left: -7;
  background-color: black;
}

/* line 68, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__item {
  positiom: relative;
}

/* line 70, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__item:before {
  content: '';
  height: 1px;
  width: 35px;
  position: absolute;
  background-color: black;
  top: 63px;
}

/* line 79, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__item-head {
  padding: 45px 0 0 100px;
}

/* line 81, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__item-head h4 {
  margin-bottom: 0;
}

/* line 85, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__item_body {
  padding-left: 35px;
  margin-top: 12px;
}

/* line 89, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__item-icon {
  position: absolute;
  left: 54px;
  top: 60px;
}

/* line 2, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_mixins.scss */
.resume__item-icon:before {
  content: '';
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  position: absolute;
  top: -40%;
  left: -3px;
  border-radius: 100%;
  z-index: -1;
}

/* line 95, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/_resume.scss */
.resume__item-icon:before {
  left: -19px;
  top: -15px;
}

/* line 1, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills {
  height: 1024px;
  padding: 137px 0 0 0;
}

/* line 4, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills .subtitle {
  text-align: center;
  position: relative;
}

/* line 7, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills .subtitle:before {
  content: '';
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  position: absolute;
  top: -31%;
  left: 553px;
  border-radius: 100%;
  z-index: -1;
}

/* line 19, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills .title {
  text-align: center;
}

/* line 22, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills .divider {
  margin: 0 auto;
  margin-top: 25px;
}

/* line 26, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 270px);
  gap: 13px;
}

/* line 32, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-wrapper-item {
  height: 270px;
  width: 270px;
  border: 1px solid black;
  padding: 30px 30px 25px 30px;
}

/* line 37, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-wrapper-item-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
}

/* line 43, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-wrapper-item-descr {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500px;
  margin-top: 13px;
}

/* line 51, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 62px);
  column-gap: 45px;
  row-gap: 38px;
  margin-top: 128px;
}

/* line 59, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-container-item {
  width: 350px;
  height: 15px;
}

/* line 63, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-container-item-name {
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  position: relative;
}

/* line 69, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-container-item-name:before {
  content: '';
  width: 36px;
  height: 36px;
  background-color: #FFA501;
  position: absolute;
  top: -40%;
  left: -3px;
  border-radius: 100%;
  z-index: -1;
}

/* line 80, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-container-item-name-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

/* line 88, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-container-item-image {
  margin-top: 27px;
  width: 350px;
  height: 14px;
  background: #E8E4DE;
  border-radius: 4px;
}

/* line 96, ../../../../../../Users/AP/Desktop/edu/html.css/portfolio/sass/skills.scss */
.skills-container-item-image-how {
  background-color: #FFA501;
}

/*# sourceMappingURL=style.css.map */