.about_me {
    height: 720px;
    padding-top: 120px;
    background-color: #fff;
    &-wrapper {
        display: grid;
        grid-template-columns: 400px auto;
        grid-template-rows: 245px 355px;
        grid-template-areas: 
        "photo title"
        "photo skills";

        &-photo {
            grid-area: photo;

        }
        &-title {
            grid-area: title;
            padding-left: 70px;
            padding-top: 10px;
            &-about {
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;

            }
            &-name {
                font-weight: bold;
                font-size: 36px;
                line-height: 60px;
            }
            &-descr {
                font-size: 14px;
                margin-top: 20px;
            }
        }
        &-skills {
            grid-area: skills;
            padding-left: 70px;
            display: grid;
            grid-template-columns: 300px 300px;
            grid-template-rows: 200px 200px;
            gap: 20px;
    
            &-item {
                display: grid;
                grid-template-columns: 50px 250px;
                grid-template-rows: 30px 100px;
                grid-template-areas: 
                "logo title"
                "logo descr" ;
                position: relative;
                z-index: 10;
                &-logo {

                    grid-area: logo;
                    img {
                        margin-top: 12px;
                        margin-left: 7px;
                        z-index: 10;
                    }
                    &:before {
                        content: '';
                        width: 36px;
                        height: 36px;
                        background-color: $mainColor;
                        position: absolute;
                        top: -2%;
                        left: -10px;
                        border-radius: 100%;
                        z-index: -1;
                    }
                }    

                &-title {
                    grid-area: title;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 21px;
                }
                &-descr {
                    grid-area: descr;
                }
            }

        }
    }
}