@mixin before_circle {
    &:before {
        content: '';
        width: 36px;
        height: 36px;
        background-color: $mainColor;
        position: absolute;
        top: -40%;
        left: -3px;
        border-radius: 100%;
        z-index: -1;
        
    }
}