.works {
    height: 870px;
    padding-top: 120px;
    .subtitle {
        text-align: center;
    }
    .title {
        text-align: center;
        margin-top: 6px;
    }
    .divider {
        margin: 0 auto;
        margin-top: 25px;
    }
    &-wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: repeat(2, 280px);
        gap: 5px;

    }
}

